:root{
    --nav--b-footer:#2c3e50;
    --bg-color:#1abc9c;
    --footer:#3a546d;
}

/*debug*/

.debug .ms_border{
    border: 2px black dashed;
}




/* css*/

.ms_nav{
    background-color: var(--nav--b-footer);
}

nav{
    position: fixed;
    top: 0
    ;
}

