:root{
    --nav--b-footer:#2c3e50;
    --bg-color:#1abc9c;
    --footer:#3a546d;
}

/*debug*/

.debug .ms_border{
    border: 2px black dashed;
}




/* css*/

.ms_nav{
    background-color: var(--nav--b-footer);
}

.ms_text-white{
    color: white;
}

.ms_lg{
    max-width: 800px;
}

